{% extends 'store/layout.html' %}
{% load static %}
{% block title %}
Cart
{% endblock %}

{% block content %}
  <!-- Cart -->
    <div class="text-center">
      <br>
      <h1 class="text-center product_title">
        Your shopping cart is empty
      </h1>
      <br>
      <p class="text-center">
        Please click <a href="#">here</a> to continue shopping
      </p>
    </div>
  <!-- Cart -->
  <div class="text-center">
    <br>
    <div class="text-center product_title">
      Your shopping cart
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart_table">
        <thead class="cart_thead">
          <tr>
            <th colspan="4">
              Your items
            </th>
          </tr>
        </thead>
    
        <!-- Productos -->
          <tr>
            <td>
              <a href="cart_item.product.get_url">
                <img src="../../static/img/airpods.png" width="100" height="100" alt="">
              </a>
            </td>
            <td class="text-left">
              iPhone X
              <br>
              SKU: 1
              <br>
              Unit Price: $500.00
              <br>
              Qty: 1 x 200
            </td>
            <td>
              $400
            </td>

            <!-- nav -->
            <td>
              &nbsp;<a href="#"><i class="fas fa-plus-circle cart_icon"></i></a>
              &nbsp;<a href="#"><i class="fas fa-minus-circle cart_icon"></i></a>
              &nbsp;<a href="#"><i class="fas fa-trash-alt cart_icon"></i></a>
            </td>
            <!-- nav -->
          </tr>
        <!-- Productos -->

      </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
      <table class="table cart_table">
        <thead class="cart_thead">
            <tr>
              <th>
                Check out
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Please review your cart items before proceeding with the payment.
              </td>
            </tr>
            <tr>
              <td class="text-left">
                Your total is: <strong>$4000</strong>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="mx-auto">
          <!-- Form -->
          <!-- Form -->
          <a href="#" style="text-decoration: none;">
            <button type="button" class="btn btn-lg btn-block bg-dark text-white">
              Continue Shopping
            </button>
          </a>
        </div>
    </div>
  </div>
  <!-- Cart -->
  
{% endblock %}
